*.o
slprj/
*_dspic/
sfprj/
*.mex*
*.coff
*.cof
*.map
*.mcp
*.mcs
*.mcw
*.hex
.gitignore
*_rtw/
*.map
*.autosave
~*
*~
*.*#*
*.epf
*.X
*.bor
*.cmp
*.drd
*.dri
*.gpi
*.plc
*.pls
*.sol
*.stc
*.sts
*.ai
*.dxf
*.slddrw
*.png
__pycache__
*.pdf
*.avi
*.mp4
